@use 'sass:list';

$colors:#000066, #530303, #003300, #999966, #666699, #00cc99;
$color-text: white, grey, black;
$sizes:("lg": 30px, "md": 25px, "sm": 20px);
$width:("long": 40em, "mediu": 30em, "small": 20em);
$height:("h": 2.5em, "m": 2em, "s": 1.5em);
$n:1;

body {
    background-color: list.nth($colors,2);
}
@each $color in $colors {
    .form .form-fieldset {
        &.color-#{$n} {
            background-color: list.nth($colors,$n);
        }
    }
    $n: $n + 1;
}
@each $key, $value in $width {
    .form .form-fieldset {
        &.width-#{$key} {
            width: $value;
        }
    }
}
@each $key, $value in $sizes {
    .form .form-fieldset__legend {
        &.size-#{$key} {
            font-size: $value;
        }
    }
}
@each $key, $value in $width {
    .form .form-fieldset__input {
        &.width-#{$key} {
            width: $value;
        }
    }
}
.form .form-fieldset__input {
    margin-left: 2em;
    border-radius: 5%;
    border: none;
    display: inline-block;
    vertical-align: middle;
    &::before {
        content: url(mic-icon.png);
    }
}
@each $key, $value in $height {
    .form-fieldset .form-fieldset__input {
        &.height-#{$key} {
            height: $value;
        }
    }
}
.form-fieldset__button {
    background-image:url(search-24-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    margin-left: 2em;
    width: 4em;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
@each $key, $value in $height {
    .form-fieldset__button {
        &.height-#{$key} {
            height: $value;
        }
    }
}